node_red_flows.json
[
    {
        "id": "4146ddabc93fd00e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5427b2d514abe240",
        "type": "mqtt in",
        "z": "4146ddabc93fd00e",
        "name": "",
        "topic": "b6610502030/nfclocking",
        "qos": "0",
        "datatype": "utf8",
        "broker": "8c9e9c83c7e49cd2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "eaef0e69b197e541",
                "7372393b42b96b73"
            ]
        ]
    },
    {
        "id": "234d71137de81c4a",
        "type": "inject",
        "z": "4146ddabc93fd00e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hollo, World!",
        "payloadType": "str",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "a2fc42c70fb8060f"
            ]
        ]
    },
    {
        "id": "eaef0e69b197e541",
        "type": "debug",
        "z": "4146ddabc93fd00e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "a2fc42c70fb8060f",
        "type": "delay",
        "z": "4146ddabc93fd00e",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "eaef0e69b197e541",
                "7372393b42b96b73"
            ]
        ]
    },
    {
        "id": "7372393b42b96b73",
        "type": "ui_text",
        "z": "4146ddabc93fd00e",
        "group": "fa24f19ced4f9fe6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "unlock status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "a15a4a67b7278601",
        "type": "ui_template",
        "z": "4146ddabc93fd00e",
        "group": "fa24f19ced4f9fe6",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Embedded YouTube Video</title>\n</head>\n<body>\n    <h2>Embedded YouTube Video</h2>\n    <iframe width=\"300\" height=\"150\" src=\"https://www.youtube.com/embed/IwReV2DTxrg\" frameborder=\"0\" allowfullscreen></iframe>\n</body>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d1c0c9444ee6b06d",
        "type": "ui_switch",
        "z": "4146ddabc93fd00e",
        "name": "",
        "label": "office syndrome",
        "tooltip": "",
        "group": "fa24f19ced4f9fe6",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "office",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 500,
        "wires": [
            [
                "02f3359a8c77252e"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "02f3359a8c77252e",
        "type": "mqtt out",
        "z": "4146ddabc93fd00e",
        "name": "",
        "topic": "b6610502030/office",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c9e9c83c7e49cd2",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "b9428edd529135b1",
        "type": "ui_button",
        "z": "4146ddabc93fd00e",
        "name": "",
        "group": "fa24f19ced4f9fe6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lock",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FF0000",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "afab59031ec58282"
            ]
        ]
    },
    {
        "id": "afab59031ec58282",
        "type": "mqtt out",
        "z": "4146ddabc93fd00e",
        "name": "",
        "topic": "b6610502030/nfclocking",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c9e9c83c7e49cd2",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "85a4c7e0d819a0f9",
        "type": "ui_button",
        "z": "4146ddabc93fd00e",
        "name": "",
        "group": "fa24f19ced4f9fe6",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "92fdab92c4576d65"
            ]
        ]
    },
    {
        "id": "92fdab92c4576d65",
        "type": "mqtt out",
        "z": "4146ddabc93fd00e",
        "name": "",
        "topic": "b6610502030/nfclocking",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c9e9c83c7e49cd2",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c9e9c83c7e49cd2",
        "type": "mqtt-broker",
        "name": "test",
        "broker": "iot.cpe.ku.ac.th",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "b6610502030/light",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fa24f19ced4f9fe6",
        "type": "ui_group",
        "name": "Default",
        "tab": "074a20126b0f8adb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "074a20126b0f8adb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]